@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.green-text {
    color: darkgreen;
}

.red-text {
    color: darkred;
}

#alert-div {
    position: fixed;
    top: 80%;
    right: 0;
}
